

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.divider{
  border-top: 1px solid lighten($atom-bg, 30%);
  width: 95%;
  margin: 0 auto;
  display: none;
}
body{
  letter-spacing: 1px;
  font-size: 13px;
  font-family: Roboto Mono;
  font-weight: 400;
  color: $light-white;
  background-color: $atom-bg-dark;
  .body-bg{
    position: fixed;
    z-index: -9999;
    height: 100vh;
    object-fit: cover;
    opacity: 0.02;
  }
  .atom-tab{
    background-color: $atom-bg;
    border: 1px solid rgba(255,255,255,0.2);
    padding:2rem;
    margin-top:2rem;
  }
  .page-center{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .p-text{
    color: $atom-text;
  }


  /*Typography*/
  .red-text{
    color: $atom-red;
  }
  .green-text{
    color: $atom-green;
  }
  .blue-text{
    color: $atom-blue;
  }
  .orange-text{
    color: $atom-orange;
  }
  .purple-text{
    color: $atom-purple;
  }

  /*Buttons*/
  .btn-neon{
    box-shadow: 0 0 10px $secondary-color;
  }


}

@media only screen and (min-width: 768px){
  body{
    font-size: 14px;
    .page-center{
      width: 80%;
    }

  }
}

@media only screen and (min-width: 992px){
  body{
    .btn-neon{
      box-shadow: 0 0;
      &:hover{
        box-shadow: 0 0 10px $secondary-color;
        border-color: $light-white;
      }
    }
  }
}

@media only screen and (min-width: 1200px){
  body{
    .page-center{
      width:960px;
    }
  }
}

/*carousel-fade issue*/
.carousel-item {
  transition: transform  0.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0.6s;
}
