
@media only screen and (min-width: 576px){
  .mywork{

    .mywork-text{

    }
    .work-container{

      }
    }

}

@media only screen and (min-width: 768px){

  /*Navbar*/
  .navbar{

    .nav-item{
      margin:0;

    .nav-link{


      .navbar-span{
        padding-left:1rem;
        padding-right:1rem;
        margin:0;
      }

      .last-span{
        padding-right: 0;
      }
    }
    }
  }

  /*Carousel*/
  .aboutme{

    .carousel-text-col{
      right: 50% !important;
      justify-content: flex-end !important;
      .carousel-text{
        .display-3 {
            font-size: 3rem ;
            top:10%;
        }
        .display-4 {
            font-size: 2.5rem !important;
            top:10%;
        }
      }

    }
    .img-col{
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
  }

  /*Skills*/
  .skills{
    .skills-learned{
      flex-direction: row;
      .skills-animation-col{
        width:50%;
        .skills-animation{
          span{
            font-size: calc(1.3rem + 0.6vw);
          }
        }
      }
    }

    .and{
      margin:0;
    }
    .skills-future{
      flex-direction: row-reverse;
      // height: 100vh;

      .skills-animation-col{
        width:50%;
        .skills-animation{
          span{
            font-size: calc(1.3rem + 0.6vw);
          }
        }
      }
    }
  }

/*My work*/
.mywork{

  .mywork-text{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .mywork-container{
    .mywork-col{
      padding: 2rem;
      a{
        .my-mask{
          position: absolute;
          top: 2rem;
          bottom: 2rem;
          left: 2rem;
          right: 2rem;
        }
      }
    }
  }

}

/*Contact Me*/
.contactme{

  position: relative;
  .contactme-text{
    margin-top: 3rem;
  }
  .contactme-form{
    width: 80%;
    margin: 0 auto;
  }
  .follow{
    display:none;
  }
  .socials{
    display: none !important;
  }
}
/*Fixed socials*/
.socials-md-fixed{
  display: flex;
  flex-direction: column;
  width: 10%;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  a{
    &:link,
    &:visited{
      color: rgba($light-white,.7);
    }
    &:hover{
      color: $light-white;
    }

    &:hover i{
      text-shadow: 0 0 15px $secondary-color;
    }
  }
  .line{
    height: 90px;
    border-left: 1px solid $light-white;
    box-shadow: 0 0 5px #b552ff;

  }
}

}

/*large screens*/
@media only screen and (min-width: 992px){
}

/*Extra Large Screens*/
@media only screen and (min-width: 1200px){
  .lg-page-center{
    width:960px;
    margin:0 auto;
  }





  .aboutme{
    .display-3 {
        font-size: 3.5rem !important;
    }
    .display-4 {
        font-size: 3rem !important;
    }
    .carousel-text-col{
      justify-content: center !important;
    }

  }

  /*Skills*/
  .skills{
      .skills-learned{
        .skills-animation-col{
          .skills-animation{
            span{
              font-size: 1.75rem;
            }
          }
        }
      }
    }

}
