$primary-color: #59c7ff;
$secondary-color: #b552ff;
$atom-bg: #32343f;
$atom-red: #b85d61;
$atom-orange: #b48354;
$atom-green:#88a75c;
$atom-blue:#71C7EC;
$light-white:rgba(255,255,255,.8);
/*Nav bar settings*/
$navbar-dark-color: $light-white;
$navbar-dark-hover-color: $primary-color;
$navbar-dark-active-color: $primary-color;
$navbar-toggler-font-size:  1rem;
$btn-focus-width: 0;
