$primary-color: #59c7ff;
$secondary-color: #c375ff;
$atom-bg: #272b34;
$atom-bg-dark: #21242b;
$atom-red: #b85d61;
$atom-orange: #e0a66d;
$atom-green:#88a75c;
$atom-blue:#71C7EC;
$atom-purple: $secondary-color;
$light-white:#f7f7f7;
$atom-text: #babdc4;

/*Nav bar settings*/
$navbar-dark-color: $light-white;
$navbar-dark-hover-color: $primary-color;
$navbar-dark-active-color: $primary-color;
$navbar-toggler-font-size:  1rem;
$btn-focus-width: 0;

/*Forms*/
$form-label-color: $light-white;
$input-bg: $light-white;
