@import 'myvariables';
@import 'config';

hr{
  width: 90%;
  margin-left: auto;
  display: none;
}
/*Navbar*/
nav{
  background-color: $atom-bg-dark !important;
    /*Logo*/
    .navbar-brand{
      font-weight: 500;
      font-size:1em;
      background: linear-gradient(0deg, $secondary-color, $primary-color);
      background: -webkit-linear-gradient(0deg, $secondary-color, $primary-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin:0 auto;
      position: relative;
      left:25px;
    }
    /*Toggler button*/
    .navbar-toggler:focus{
      box-shadow: 0 0 5px $secondary-color;
    }

    /*Menu items*/
    .nav-item{
      padding-left: 1rem;

      .nav-link{
        padding:0;
        &:hover .navbar-span{
          text-shadow: 0 0 10px $secondary-color;
          color: $light-white;
        }
        &:active .navbar-span{
          text-shadow: 0 0 10px $secondary-color;
          color: $light-white;
        }
        .navbar-span{
          display:block;
          width: 100%;
          margin: 5px 0;
          padding:8px 0;
          text-align: center;
        }
      }
    }

}
/*Navbar End*/

/*Carousel*/

.aboutme{
  .carousel-bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.1;
    -webkit-mask-image: linear-gradient(to bottom,  rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom,  rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0));
  }
  .img-col{
    position: absolute;
    top:40px;
    bottom: 0;
    left:50%;
    right:0;
    display: none;
    .img-container{
      height: 45vh;
      max-height: 450px;
      width: 100%;
      z-index: 2;
      .myphoto{
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        height: 100%;
        transition: .5s ease-in-out;
        z-index: 10;
        &:hover{
          transform: translate(-52%,0);
        }
        &:hover ~.img-mask{
          transform: translate(-45%,0);
        }
      }
      .img-mask{
        position: absolute;
        height: 100%;
        left:50%;
        transform: translate(-47%,0);
        mask-image:url(../images/carousel-img.png);
        -webkit-mask-image:url(../images/carousel-img.png);
        mask-size:contain;
        -webkit-mask-size:contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        background-color:$secondary-color;
        opacity: .5;
        z-index: 9;
        transition: .5s ease-in-out;

        img{
          visibility: hidden;
          height: 100%;
        }
      }
    }

  }
  /*Slides*/
  .carousel-item {
    height: 100vh;
    margin-left: 0;

    /*Text*/
    .carousel-text-col{
      display:flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top:40px;
      left:0;
      right:0;
      bottom:0;

      .carousel-text{
        text-align: center;
        width: 70%;

        .h1{
          margin-bottom:2em !important;
        }
      }
    }

  }
}
/*Carousel End*/

/*Skills*/

.skills{
  display: flex;
  flex-direction: column;
  position: relative;

  .skills-learned{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .skills-text{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4rem;

    }

    .skills-animation-col{
      height: 50%;
      width: 100%;
      padding: 20vh 0;
      .skills-animation{
        position: relative;
        width: 70%;
        height: 100%;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span{
            animation: skillopacity 7s ease-in-out infinite both;
            font-size: calc(1.275rem + 0.3vw);
            font-weight: 500;
            text-shadow: 0 0 10px $secondary-color;
        }

        .node{
          animation-delay: 1s;
        }
        .mdb{
          animation-delay: 2s;
        }
        .bootstrap{
          animation-delay: 3s;
        }
        .css{
          animation-delay: 4s;
        }
        .npm{
          animation-delay: 5s;
        }
        .html{
          animation-delay: 6s;
        }


        .animation-line1,
        .animation-line2,
        .animation-line3 {
          display: flex;
          justify-content: space-around;
        }
      }
    }

  }

  .and{
    width: 100%;
    text-align: center;
    margin: 60px 0;
  }

  .skills-future{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .skills-text{
      width: 100%;
      margin: 0 auto;
      margin-top: 4rem;


    }
    .skills-text::after{
      content: "\2588";
      animation: cursor 1s infinite;
    }

    .skills-animation-col{
      height: 50%;
      width: 100%;
      padding: 20vh 0;
      .skills-animation{
        position: relative;
        width: 70%;
        height: 100%;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span{
            animation: skillopacity 7s ease-in-out infinite both;
            font-size: calc(1.275rem + 0.3vw);
            font-weight: 500;
            text-shadow: 0 0 10px $secondary-color;
          }
        .wordpress{
          animation-delay: 500ms;
        }
        .angular{
          animation-delay: 1500ms;
        }
        .vue{
          animation-delay: 2500ms;
        }
        .mysql{
          animation-delay: 3500ms;
        }
        .javascript{
          animation-delay: 4500ms;
        }
        .java{
          animation-delay: 5500ms;
        }
        .php{
          animation-delay: 6500ms;
        }


        .animation-line1,
        .animation-line2,
        .animation-line3 {
          display: flex;
          justify-content: space-around;
        }
      }
    }

  }

}
/*Skills End*/

/*My work*/
.mywork{
  flex-direction: column;
  padding-top:3rem;
  position: relative;

  .mywork-text{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .mywork-container{
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 0 auto;
    .mywork-col{
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 20vh;
      min-height: 200px;
      position: relative;
      overflow:hidden;


      a{
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity:0.7;
          border: 1px solid rgba(255,255,255,0.2);


        }

        .my-mask{
          position: absolute;
          top: 1rem;
          bottom: 1rem;
          left: 0;
          right: 0;
          background-color: $atom-bg-dark;
          border: 1px solid rgba(255,255,255,0.2);
          transition: .4s ease-in-out;
          span{
            position: absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%);
            font-weight: 400;
            color: $atom-text;
          }
        }

        &:hover .my-mask{
          opacity: 0;
        }
        &:active .my-mask{
          opacity: 0;
        }
      }


      }

  }

}
/*My work End*/
/*Contact me*/
.contactme{
  padding-top: 3rem;
  .contactme-text{
    width: 100%;
    text-align: center;
    margin-top:2rem;
  }
  .contactme-form{
    flex-wrap: wrap;
    justify-content: center;
    .form-control:focus{

    }
    .btn{
      max-width: 120px;
    }
  }
  .follow{
    text-align: center;
  }
  .socials{
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    justify-content: space-evenly;
    a{
      &:link,
      &:visited{
        color: rgba($light-white,.7);
      }
      &:hover{
        color: $light-white;
      }
      &:hover i{
        text-shadow: 0 0 10px $secondary-color;
      }
    }
  }

}

/*Desktop footer*/
  .newsletter{

  }

  .desktop-footer{
    position: relative;
    .footer-text{
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
      background-color: darken($atom-bg-dark, 5%);

    }
  }

.socials-md-fixed{
  display: none;
  z-index: 1;
}

@keyframes cursor {
  0%{opacity: 0}
  49%{opacity:0}
  50%{opacity: 1}
  100%{opacity:1}
}

@keyframes skillopacity {
0%{opacity: 0;}
7%{opacity: 1;}
14%{opacity: 0;}
100%{opacity: 0;}
}


@import 'desktop';
